# fly.toml app configuration file generated for tiger2go on 2026-01-14T18:31:27Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tiger2go'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 9101
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = false
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
