# fly.toml app configuration file generated for tigerblue-postgrest on 2025-12-13T00:10:35Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tigerblue-postgrest'
primary_region = 'ams'

[build]
  dockerfile = 'Dockerfile'

[env]
  PGRST_DB_ANON_ROLE = 'postgrest-anon'
  PGRST_DB_SCHEMA = 'api'
  PGRST_OPENAPI_SERVER_PROXY_URI = 'https://tigerblue-postgrest.fly.dev'
  PGRST_SERVER_PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 250
    soft_limit = 200

[[services]]
  protocol = 'tcp'
  internal_port = 3000
  ports = []

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
