[licenses]
allow = [
    "Apache-2.0",
    "MIT",
    "BSD-3-Clause",
    "ISC",
    "Zlib",
    "Unicode-3.0",
    "CDLA-Permissive-2.0"
]

[advisories]
ignore = [
    "RUSTSEC-2024-0320",
    "RUSTSEC-2023-0071"
]
